<!--Array implementation data tye Selected Modal-->
<div class="modal fade" id="ValueSelectedTypeWindowsModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Value Configurations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pre-scrollable">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12" id="wholeValuewindow">
                            <h3 id="ValueNameid"></h3><br>
                            <h7>Data Type</h7><br>
                            <select name="ValueDataTypes_name" id="ValueDataTypes_id"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeValueWindow">Close</button>
                <button type="button" class="btn btn-success save-ValueElement">Save</button>
            </div>
        </div>
    </div>
</div>