	<!--Data Types Modal-->
	<div class="modal fade" id="DataTypesWindowModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Data Types and Data Elements<h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-lg">
						<div class="col-lg">
							<div class="items">
								<div class="col-md">
									<label><strong>Data Types</strong></label> <br>
									<input type="checkbox" id="boolean" value="boolean"> boolean<br>
									<input type="checkbox" id="uint8" value="uint8"> uint8<br>
									<input type="checkbox" id="sint8" value="sint8" > sint8<br>
									<input type="checkbox" id="uint16" value="uint16"> uint16<br>
																<input type="checkbox" id="sint16" value="sint16"> sint16<br>
									<input type="checkbox" id="uint32" value="uint32"> uint32<br>
																<input type="checkbox" id="sint32" value="sint32"> sint32<br>
																
									<input type="checkbox" id="float32" value="float32"> float32<br>
									<input type="checkbox" id="float64" value="float64"> float64<br>
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="items">
								<!-- <div class="col-md pre-scrollable" >
									<label><strong>Data Elements</strong></label> <br>
									<div class="row">
										<div class="col" id=allDataElementsNames style="background-color:yellow;">
											
										</div>
										 <div class="col" id=allDataElementsDtypes style="background-color:pink;">
											
										</div>										
								    </div>
								</div> -->
							</div>
						</div>						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success save-datatypes">Save DataTypes</button>
				</div>
			</div>
		</div>
	</div>
